__pycache__/*
.vscode/*
*.pyc
db.sqlite3
/staticfiles/*
/mediafiles/*
venv/*
.env
*.json

*.tar.gz
fakertest/*
creators-mela-firebase-adminsdk-ubb0t-34692b241a.json
celery.conf
*.sh
*.sql

!units.json

.vscode
.DS_Store